<template>
  <div class="ad-button">
    <button
        v-if="deleteButton"
        class="ad-button--delete"
        @click="onDelete"
    >
      <img alt="trash" src="../assets/delete_black_18dp.svg" />
    </button>
    <button
        v-else-if="clearButton"
        class="ad-button--clear"
        @click="onClear"
    >
      <img alt="trash" src="../assets/clear_black_18dp.svg" />
    </button>
    <button
      v-else
      class="ad-button--default"
      :class="classes"
      @click="onClick"
    >
      {{ label }}
    </button>
  </div>
</template>

<script>
export default {
  name: "ad-button",
  props: {
    label: String,
    /**
     * Button color | [ `navy-70`, `green-70`, `red-70` ]
     */
    color: {
      type: String,
      default: "green-70",
    },
    deleteButton: Boolean,
    clearButton: Boolean,
  },
  methods: {
    onClick(event) {
      /**
       * Button is clicked
       * @event click
       * @type {Object}
       */
      this.$emit("click", event);
    },
    onClear(event) {
      /**
       * Clear button is clicked
       * @event clear
       * @type {Object}
       */
      this.$emit("clear", event);
    },
    onDelete(event) {
      /**
       * Delete button is clicked
       * @event delete
       * @type {Object}
       */
      this.$emit("delete", event);
    },
  },
  computed: {
    classes() {
      return {
        [`ad-button--${this.color}`]: this.color,
      };
    },
  },
};
</script>
<style lang="scss" scoped>
@import "../scss/variables";

$buttonColors: (
  "navy-70": $navy-70,
  "green-70": $green-70,
  "red-70": $red-70,
);

$hoverColors: (
  "navy-70": $navy,
  "green-70": $green,
  "red-70": $red,
);

.ad-button {
  $blockName: &;

  &--default,
  &--clear,
  &--delete {
    border: none;
    cursor: pointer;
  }

  &--default,
  &--delete {
    padding: $padding-xs $padding-sm;
    border-radius: $border-radius-xs;
  }

  &--clear,
  &--delete {
    background-color: $white;

    &:hover {
      background: $gray-30;
    }
  }

  &--default {
    font-weight: bold;
    color: $white;
    white-space: nowrap;

    &:hover {
      background: $green;
    }

    @each $colorName, $colorValue in $buttonColors {
      &#{$blockName}--#{$colorName} {
        background: $colorValue;
        &:hover {
          background: map-get($hoverColors, $colorName);
        }
      }
    }
  }

  &--clear {
    display: flex;
    padding: 0;
    border-radius: $border-radius-sm;
  }
}
</style>
