<template>
  <span class="ad-label" :class="classes">
    {{ label }}
  </span>
</template>

<script>
export default {
  name: "ad-label",
  props: {
    label: String,
    /**
     * Label color | [ `navy`, `white`, `green`, `red`, `yellow` ]
     */
    color: {
      type: String,
      default: "navy",
    },
  },
  computed: {
    classes() {
      return {
        [`ad-label--${this.color}`]: this.color,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/variables";

$labelColors: (
  "navy": $navy,
  "white": $white,
  "green": $green,
  "red": $red,
  "yellow": $yellow,
);

.ad-label {
  $blockName: &;
  font-size: $font-size-default;
  font-weight: bolder;

  @each $colorName, $colorValue in $labelColors {
    &#{$blockName}--#{$colorName} {
      color: $colorValue;
    }
  }
}
</style>
