<template>
  <div>
    <span class="ad-tag">
      {{ name }}
      <ad-button
        class="ad-tag__clear"
        clear-button
        @clear="onClear"
      ></ad-button>
    </span>
  </div>
</template>

<script>
import AdButton from "@/components/Button";

export default {
  name: "ad-tag",
  components: {
    AdButton,
  },
  props: {
    name: {
      type: String,
      required: true,
    },
  },
  methods: {
    onClear() {
      /**
       * Items clear button is clicked
       * @event clear
       * @type {string}
       */
      this.$emit("clear", this.name);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/variables";

.ad-tag {
  display: inline-flex;
  color: $gray;
  background-color: $white;
  margin: $margin-sm;
  padding: $padding-xxs $padding-xxs $padding-xxs $padding-md;
  border-radius: $border-radius-md;
  border: $border-gray-30;
  width: fit-content;
  cursor: default;
  font-size: $font-size-smallest;
  align-items: center;

  .ad-button {
    margin-left: rem(4px);

    :hover {
    }
  }
}
</style>
