<template>
  <div class="ad-target__item">
    <span class="ad-target__item--type">
      {{ type }}
    </span>
    <div class="ad-target__item--rule-group">
      <ad-tag
        v-for="(tag, index) in val.rules"
        :key="index"
        :name="tag"
        class="ad-target-item__clear"
        @clear="clearTagFromSelection(tag, uuid)"
      ></ad-tag>
    </div>
    <ad-button
      :label="label"
      deleteButton
      class="ad-target-item__delete"
      @delete="onDelete"
    ></ad-button>
  </div>
</template>

<script>
import AdButton from "@/components/Button";
import AdTag from "@/components/Tag";

export default {
  name: "ad-target-item",
  data() {
    return {
      val: {
        uuid: this.uuid,
        type: this.type,
        rules: this.rules,
      },
    };
  },
  props: {
    uuid: String,
    type: String,
    rules: Array,
    label: String,
    deleteButton: Boolean,
  },
  components: {
    AdButton,
    AdTag,
  },
  methods: {
    clearTagFromSelection(name, uuid) {
      let itemToBeCleared = "";
      if (this.val.rules.length === 1) {
        this.onDelete(uuid);
      }
      for (let i = 0; i < this.val.rules.length; i++) {
        if (this.val.rules[i] === name) {
          itemToBeCleared = this.val.rules.splice(i, 1)[0];
        }
      }

      this.onClear(itemToBeCleared);
    },
    onDelete() {
      /**
       * Items delete button is clicked
       * @event delete
       * @type {array}
       */
      this.$emit("delete", this.uuid);
    },
    onClear(tagName) {
      /**
       * Items clear button is clicked
       * @event delete
       * @type {string}
       */
      this.$emit("clear", tagName);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/variables";

.ad-target {
  &__item {
    color: $gray;
    display: flex;
    padding: $padding-xs $padding-xs $padding-xs $padding-md;
    justify-content: space-between;
    align-items: center;

    &--type {
      width: $width-xs;
      font-size: $font-size-small;
    }

    &--rule-group {
      display: inline-flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &:hover {
      background: #f5f5f5;
    }
  }
}
</style>
