<template>
  <div id="app" class="target-wrapper">
    <ad-label
      class="target-wrapper__label"
      :label="title"
      color="yellow"
    ></ad-label>
    <div class="target">
      <div class="target__content--type">
        <ad-label class="target__label" :label="typeTitle"></ad-label>
        <select
          name="targetType"
          class="target__type"
          v-model="selectedTarget"
        >
          <option
            v-for="type in targetingTypes"
            :key="type.id"
            :value="type.name"
          >
            {{ type.name }}
          </option>
        </select>
      </div>
      <div class="target__content--rules">
        <ad-label class="target__label" :label="rulesTitle"></ad-label>
        <template v-if="isTarget('URL keywords')">
          <div class="target__message">{{ rulesMessage }}</div>
          <input
            class="target__rule-group"
            type="text"
            :placeholder="rulesPlaceholder"
            v-model="urlKeywordsString"
          />
        </template>
        <template v-else>
          <div class="target__rule-group">
            <span
              v-for="(rule, index) in computedRules"
              :key="index"
              class="target__rule"
            >
              <label>
                <input
                  type="checkbox"
                  :id="rule"
                  :value="rule"
                  v-model="selectedRules"
                />
                {{ rule }}
              </label>
            </span>
          </div>
        </template>
        <div class="target__tag-group">
          <template v-if="computedRules">
            <div class="target__tags">
              <ad-tag
                v-for="(rule, index) in selectedRules"
                :key="index"
                :name="rule"
                @clear="clearTagFromSelection"
              ></ad-tag>
            </div>
            <div class="target__buttons">
              <ad-button
                name="reset"
                :label="resetButton"
                color="red-70"
                @click="resetFields()"
              ></ad-button>
              <ad-button
                name="addRule"
                type="submit"
                :label="addButton"
                class="target__button--add"
                @click="addTargetItem()"
              ></ad-button>
            </div>
          </template>
        </div>
      </div>
    </div>
    <div class="target__group">
      <ad-label class="target__label" :label="savedRulesTitle"></ad-label>
      <div class="target__content">
        <div v-if="val.length === 0" class="target__content-message">
          {{ savedRulesTitleMessage }}
        </div>
        <ad-target-item
          v-for="item in val"
          :key="item.uuid"
          :uuid="item.uuid"
          :type="item.type"
          :rules="item.rules"
          deleteButton
          @clear="clearTagFromSelection(item.uuid)"
          @delete="deleteSavedRule(item.uuid)"
        ></ad-target-item>
      </div>
      <ad-button class="target__footer" :label="saveButton"></ad-button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AdButton from "./components/Button.vue";
import AdLabel from "./components/Label.vue";
import AdTag from "./components/Tag.vue";
import AdTargetItem from "./components/TargetItem.vue";
import uuid from "./utils/uuid.js";

export default {
  name: "App",
  components: {
    AdButton,
    AdLabel,
    AdTag,
    AdTargetItem,
  },
  data() {
    return {
      val: [],
      rules: [],
      devices: [],
      countries: [],
      categories: [],
      targetingTypes: [],
      urlKeywords: [],
      savedRules: [],
      selectedRules: [],
      title: "Ad Targeting",
      typeTitle: "Type",
      rulesTitle: "Rules",
      savedRulesTitle: "Saved targeting rules",
      savedRulesTitleMessage: "You don't have any saved rules",
      rulesPlaceholder: "Type here ...",
      rulesMessage: "Please insert keywords separated with comma",
      deleteMessage: "Do you really want to delete this targeting rule?",
      addButton: "Add rule",
      resetButton: "Reset",
      saveButton: "Save changes",
      selectedTarget: "",
      urlKeywordsString: "",
    };
  },
  mounted() {
    let endpoints = [
      "https://private-anon-fc7822e7db-adcashdsp.apiary-mock.com/types",
      "https://private-anon-fc7822e7db-adcashdsp.apiary-mock.com/categories",
      "https://private-anon-fc7822e7db-adcashdsp.apiary-mock.com/countries",
      "https://private-anon-fc7822e7db-adcashdsp.apiary-mock.com/devices",
      "https://private-anon-fc7822e7db-adcashdsp.apiary-mock.com/rules",
    ];
    axios.all(endpoints.map((endpoint) => axios.get(endpoint))).then(
      axios.spread((targetingTypes, categories, countries, devices, rules) => {
        (this.targetingTypes = targetingTypes.data),
          (this.categories = categories.data),
          (this.countries = countries.data),
          (this.devices = devices.data),
          (this.rules = rules.data);
      })
    );
  },
  methods: {
    objectToArrayOfStrings(object) {
      const arrayOfStrings = [];
      for (let i = 0; i < object.length; i++) {
        arrayOfStrings.push(object[i].name);
      }

      return arrayOfStrings;
    },
    stringToArrayOfStrings(inputString) {
      let stringToArray = inputString.split(",").map((tag) => {
        return tag.trim();
      });

      return stringToArray.filter((e) => e);
    },
    addTargetItem() {
      if (this.urlKeywordsString.length > 0) {
        let keywordsArray = this.stringToArrayOfStrings(this.urlKeywordsString);
        this.selectedRules = this.selectedRules.concat(keywordsArray);
        this.urlKeywordsString = "";
      }
      this.savedRules.push(this.selectedRules);

      let newTarget = {
        uuid: uuid(),
        type: this.selectedTarget,
        rules: this.selectedRules,
      };
      if (this.selectedRules.length > 0) {
        this.val.push(newTarget);
        this.selectedRules = [];
      }
    },
    resetFields() {
      this.selectedRules = [];
      this.selectedTarget = "";
    },
    resetRules() {
      this.selectedRules = [];
    },
    deleteSavedRule(itemUuid) {
      if (confirm(this.deleteMessage)) {
        this.val = this.val.filter((obj) => {
          return obj.uuid !== itemUuid;
        });

        this.savedRules = this.val.map((obj) => {
          return obj.rules;
        });

        this.onDelete(itemUuid);
      }
    },
    clearTagFromSelection(tagName, uuid) {
      if (this.selectedRules.includes(tagName)) {
        for (let i = 0; i < this.selectedRules.length; i++) {
          if (this.selectedRules.length === 1) {
            this.deleteSavedRule(uuid);
          }
          if (this.selectedRules[i] === tagName) {
            this.selectedRules.splice(i, 1);
          }
        }
      }
      this.onClear(tagName);
    },
    isTarget(inputString) {
      return this.selectedTarget === inputString;
    },
    onClear(tagName) {
      /**
       * Items clear button is clicked
       * @event clear
       * @type {string}
       */
      this.$emit("clear", tagName);
    },
    onDelete(itemUuid) {
      /**
       * Items delete button is clicked
       * @event delete
       * @type {string}
       */
      this.$emit("delete", itemUuid);
    },
  },
  computed: {
    computedRules() {
      this.resetRules();
      const selectedRules = [].concat(...this.savedRules);
      const map = {
        "Category": this.categories,
        "Country": this.countries,
        "Device": this.devices,
        "URL keywords": this.urlKeywords,
      };

      for (const [key, value] of Object.entries(map)) {
        if (this.selectedTarget === `${key}`) {
          return selectedRules.length > 0
            ? this.objectToArrayOfStrings(value).filter(
                (rule) => !selectedRules.includes(rule)
              )
            : this.objectToArrayOfStrings(value);
        }
      }

      return null;
    },
  },
};
</script>

<style lang="scss">
@import "./scss/variables";
$type-height: rem(32px);
$rule-group-height: rem(22px);
$target-group-content-height: 100px;
$target-group-message-margin: rem($target-group-content-height / 2 - $font-size-small / 2);

.target-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  margin: rem(60px) auto auto;
  min-width: $width-xs;
  width: 80%;
  -webkit-border-radius: $border-radius-sm;
  -moz-border-radius: $border-radius-sm;
  border-radius: $border-radius-sm;
  -webkit-box-shadow: $card-box-shadow;
  -moz-box-shadow: $card-box-shadow;
  box-shadow: $card-box-shadow;

  @media (min-width: $breakpoint-lg) {
    max-width: $width-lg;
  }

  .target,
  .target__group {
    padding: $padding-xxl;
  }

  &__label.target-wrapper__label {
    font-size: $font-size-extra-large;
    padding: $padding-xl;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
    background: $gray-10;
  }

  .target {
    display: flex;
    flex-direction: column;
    gap: rem(25px);
    background: $gray-10;

    @media (min-width: $breakpoint-sm) {
      flex-direction: row;
    }

    &__content {
      background: $white;
      border-radius: $border-radius-sm;
      border: $border-gray-10;
      min-height: rem($target-group-content-height);
      margin: $margin-xl 0;

      &--type,
      &--rules {
        gap: rem(20px);
        display: flex;
        flex-direction: column;
      }

      &--type {
        flex: 1;
      }

      &--rules {
        flex: 3;
      }
    }

    &__content-message {
      color: $gray;
      text-align: center;
      font-size: $font-size-small;
      margin-top: $target-group-message-margin;
    }

    &__tag-group,
    &__rule-group,
    &__type {
      color: $gray;
      border-radius: $border-radius-xs;
      background-color: $white;
      padding: $padding-xs;
    }

    &__tag-group {
      display: inline-flex;
      justify-content: space-between;
      height: auto;
      min-height: rem(52px);
      align-items: center;
    }

    &__rule-group,
    &__type {
      border: $border-gray-30;
      cursor: pointer;
    }

    &__rule-group {
      display: flex;
      flex-wrap: wrap;
      min-height: $rule-group-height;

      input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
      }
    }

    &__rule {
      label {
        display: flex;
        font-size: $font-size-small;
        padding: $padding-xs $padding-sm;
        cursor: pointer;

        &:hover {
          border-radius: $border-radius-sm;
          background: $gray-10;
        }
      }
    }

    &__type {
      min-height: $type-height;
    }

    &__button {
      &--add {
        padding-top: $padding-xs;
      }
    }

    &__tags {
      display: inline-flex;
      flex-wrap: wrap;
    }

    &__buttons {
      display: flex;
      flex-direction: column;

      & .ad-button--default {
        width: -moz-available;
      }
    }

    &__message {
      font-size: $font-size-smallest;
      color: $red-50;
      position: absolute;
      margin-top: rem(70px);
      padding-left: rem(4px);
    }

    &__footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}
</style>
