// Colors
$white: #fff;
$black: #000;

$gray: #323031;
$gray-70: #494647;
$gray-50: #7D7878;
$gray-30: #DEDEDE;
$gray-10: #F5F5F5;

$navy: #063B4B;
$navy-70: #095971;
$navy-50: #0E85AA;
$navy-30: #79BED4;

$green: #048E8C;
$green-70: #05C7C4;
$green-50: #46FFFC;
$green-30: #C3FDFD;

$red: #F34213;
$red-70: #F67451;
$red-50: #F9A38B;
$red-30: #FCD1C5;

$yellow: #FFAD0A;
$yellow-70: #FFC247;
$yellow-50: #FFDD99;
$yellow-30: #FFF1D6;

/* Color map to generate utility classes (only uses the base palette) */
$bbColors: (
'white': $white,
'black': $black,
'gray': $gray,
'gray-70': $gray-70,
'gray-50': $gray-50,
'gray-30': $gray-30,
'gray-10': $gray-10,
'navy': $navy,
'navy-70': $navy-70,
'navy-50': $navy-50,
'navy-30': $navy-30,
'green': $green,
'green-70': $green-70,
'green-50': $green-50,
'green-30': $green-30,
'red': $red,
'red-70': $red-70,
'red-50': $red-50,
'red-30': $red-30,
'yellow': $yellow,
'yellow-70': $yellow-70,
'yellow-50': $yellow-50,
'yellow-30': $yellow-30,
);