@import "./colors";

// Function for converting a px based font-size to rem.
@function rem($size) {
  $remSize: $size / $font-size-default;

  @return #{$remSize}rem;
}

// Grid breakpoints
$grid-breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
);

$breakpoint-xs: map-get($grid-breakpoints, 'xs');
$breakpoint-sm: map-get($grid-breakpoints, 'sm');
$breakpoint-md: map-get($grid-breakpoints, 'md');
$breakpoint-lg: map-get($grid-breakpoints, 'lg');

// Font variables
$font-size-extra-large: 24px;
$font-size-large: 20px;
$font-size-default: 16px;
$font-size-small: 14px;
$font-size-smallest: 12px;
$font-size-tiny: 8px;

// Border variables
$border-gray-70: 1px solid $gray-70;
$border-gray-50: 1px solid $gray-50;
$border-gray-30: 1px solid $gray-30;
$border-gray-10: 1px solid $gray-10;
$border-navy-50: 1px solid $navy-50;

// Border radius variables
$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-lg: 16px;
$border-radius-rounded: 50%;

// Shadow variables
$card-box-shadow: 0 rem(1px) rem(15px) 0 rgba(74, 74, 74, 0.15);

// Padding variables
$padding-xxs: 2px;
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 12px;
$padding-lg: 16px;
$padding-xl: 20px;
$padding-xxl: 24px;

// Margin variables
$margin-sm: 4px;
$margin-md: 8px;
$margin-lg: 12px;
$margin-xl: 16px;

// Height variables
$height-xs: 270px;
$height-sm: 540px;
$height-md: 720px;

// Width variables
$width-xs: 270px;
$width-sm: 540px;
$width-md: 720px;
$width-lg: 900px;
$width-xl: 1200px;
$width-xxl: 1600px;

